#outerContainer {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    #loginCard {
        height: 60%;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        // shadow: h-shadow v-shadow blur spread color
        box-shadow: 5px 5px 8px #888888;
        border: 1px solid #888888;
        h1 {
            margin: 25pt 0 45pt;
        }
        #innerContainer {
            display: flex;
            width: 80vw;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .loginBtn {
                width: 16vw;
                height: auto;
            }
            .innerCard {
                z-index: 5;
                padding: 0pt 25pt 15pt;
                // shadow: h-shadow v-shadow blur spread color
                box-shadow: 3px 3px 4px #888888;
                border: 1px solid #888888;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
            }
            #visitorsSignin {
                height: 25vh;
                #google {
                    background-color: #E55439;
                }
                #facebook {
                    background-color: #4968AD;
                }
                #twitter {
                    background-color: #49A0EC;
                }
            }
            #teamSignin {
                height: 15vh;
                #rose {
                    background-color: #741F1C;
                }
            }
        }
    }
}