<div id="outerContainer">
    <h2 id="title" mat-dialog-title>Stop Run</h2>
    <mat-form-field>
      <input matInput placeholder="Reactant 1 amount (end)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Reactant 1 amount (end)">
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Accept</button>
      <button mat-button mat-dialog-close>N/A</button>
    </mat-dialog-actions>
  </div>