#projectHeader{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    h1 {
        margin: 0;
    }
    h3 {
        margin: 5pt 0 0;
    }
}

#outerContainer {
    height: 100%;
    #innerContainer {
        height: 100%;
        max-height: 100%;
        background-color: #eee;
    }
}
