<div id="outerContainer">
  <div id="leftContainer">
    <h2>Device Information</h2>
    <h5>Arduino 1.5ghz v3.4</h5>
    <h5>Owned by: Robert. L</h5>
    <h5>Last Active: 10/10/17</h5>
    <h5>Status: Online</h5>
    <h2>Sensors</h2>
    <h4>Thermometer: 30˚</h4>
    <h4>Altimeter: 142m</h4>
    <button *ngIf="isRunning" class="button" (click)='stopRun()' mat-raised-button>Stop Run</button>
  </div>
  <div id="rightContainer" *ngIf="isRunning">
      <h1>Works!</h1>
  </div>
</div>