#outerContainer {
    display: flex;
    flex-direction: row;
    height: 95%;
    min-height: 95%;
    width: 95%;
    margin: auto;
    #leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button {
            color: white;
            background-color: #823234;
        }
    }
    #rightContainer {
        
    }
}