#globalContainer {
    min-height: 100vh;
    display: flex;
    overflow: hidden;    
    flex-direction: column;
    justify-content: start;
    #contentContainer {
        width: 95vw;
        height: 93vh;
        min-height: 93vh;
        max-height: 85vh;
        margin: auto;
        z-index: 2;
    }
}