<div id="outerContainer">
  <h2 id="title" mat-dialog-title>Add Device</h2>
  <mat-form-field>
    <input matInput placeholder="Enter the device's ID">
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>