<div id="outerContainer">
  <h2>Project Information</h2>
  <h5>Started on 10/20/17</h5>
  <h5>Owned by: Robert. L</h5>
  <h5>Members: John. O, Lisa. P</h5>
  <h2>Runs</h2>
  <h4>1st Run: 10.3m</h4>
  <h4>2nd Run: 9.8m</h4>
  <h4>3rd Run: 10.1m</h4>
  <br />
  <br />
  <button *ngIf="!isRunning; else stop" class="button" (click)='startRun()' mat-raised-button>Start Run</button>
  <ng-template #stop>
    <button class="button" (click)='stopRun()' mat-raised-button>Stop Run</button>
  </ng-template>
</div>