<div id="outerContainer">
  <button mat-button class="teamButton" routerLink="/project">
    Chemical Car Team
  </button>
  <button routerLink="/team/new" mat-fab id="teamFab">
    <mat-icon>add</mat-icon>
  </button>
</div>
