#outerContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    .teamButton {
        width: 420pt;
        height: 250pt;
        background-color: #751A1F;
        opacity: 0.85;
        font-size: 22pt;
    }
    #teamFab {
        color: white;
        background-color: #751A1F;
    }
}
