<div>
  <h1>Set Variables</h1>

  <mat-card class="result">
    <mat-card-content>
      <h2>Reactant #1</h2>
      <mat-slider [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [value]="value"
        [vertical]="vertical">
      </mat-slider>
      <h2>Reactant #2</h2>
      <mat-slider [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [value]="value"
        [vertical]="vertical">
      </mat-slider>
    </mat-card-content>
  </mat-card>

  <hr>
  <h1>Variable Effect</h1>
  <p>Here is the graph, the text here is used to debug</p>
  <hr>
  <h2>Goal</h2>
  <h3>50.0</h3>
  <h2>Current Prediction</h2>
  <h3>47.3</h3>
</div>
