<h2>Predictions</h2>

<mat-sidenav-container id="outerContainer">
  <mat-sidenav id="sidenav" #sidenav mode="side" opened="true">
    <mat-nav-list>
      <h3>Predictions</h3>
      <mat-list>
        <mat-card (click)='goToLanding()'>Prediction 1</mat-card>
        <mat-card>Prediction 2</mat-card>
      </mat-list>
      <button mat-fab (click)='addAPrediction()'>
        <mat-icon>add</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <div class="innerContainer">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
