h1,
h2 {
  text-align: center
}

// #projectHeader{ 
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
//   height: 15%;
//   h1 {
//       margin: 0;
//   }
//   h3 {
//       margin: 5pt 0 0;
//   }
// }
#outerContainer {
  height: 85%;
  max-height: 85%;
  #sidenav {
    width: 15vw;
    background-color: #dedede;
    h3 {
      text-align: center;
      background-color: white;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    button {
      margin: 0 auto;
      display: block;
    }
  }
  #innerContainer {
    height: 100%;
    max-height: 100%;
    background-color: #eee;
  }
}
