<mat-form-field fxFill>
  <input matInput placeholder="Name: " [(ngModel)]="newPredictionName" />
</mat-form-field>

<div>
  <h1>Predict These:</h1>
  <mat-checkbox>Reactant 1</mat-checkbox>
  <mat-checkbox>Reactant 2</mat-checkbox>
  <mat-checkbox>Pressure</mat-checkbox>
  <mat-checkbox>Distance</mat-checkbox>
  <hr>
  <h1>Based on These:</h1>
  <mat-checkbox>Reactant 1</mat-checkbox>
  <mat-checkbox>Reactant 2</mat-checkbox>
  <mat-checkbox>Pressure</mat-checkbox>
  <mat-checkbox>Distance</mat-checkbox>
</div>

<button mat-raised-button color="warn" (click)='goBackToPrediction()'>Cancel</button>
<button mat-raised-button color="warn">Save Changes</button>
