<div id="projectHeader">
  <h1>Chem-E Car Team</h1>
</div>

<div id="competitionDisplay">

  <div id="graphFeed">
    <p>Graph</p>
  </div>

  <div id="specificationFeed">
  </div>

  <div id="twitterFeed">
    <p>Twitter Feed</p>
    <mat-grid-list cols="1">
        <mat-grid-tile
          *ngFor="let tweet of tweets"
          [colspan]="1"
          [rowspan]="1"
          [style.background]="tweet.color">
        {{tweet.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>