<h2>Projects</h2>

<div>
  <mat-card (click)='goToDetail(project.id)' *ngFor="let project of projects">{{project.name}}</mat-card>
  <button mat-fab (click)='openAddProjectDialog()'>
    <mat-icon>add</mat-icon>
  </button>
</div>
