h1,
h2 {
  text-align: center;
}

ul {
  text-align: center;
}

mat-card{
  margin-bottom: 20px;
}

mat-card:hover {
  cursor: pointer;
}

button {
  margin: 0 auto;
  display: block;
}

div {
  background-color: grey;
  padding: 50px;
  height: inherit;
}
