<div id="outerContainer">
    <h2 id="title" mat-dialog-title>Start Run</h2>
    <mat-form-field>
      <input matInput placeholder="Reactant 1 amount (start)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Reactant 1 amount (start)">
      </mat-form-field>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Start</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>