<div id="title">
  <h1>Spectate Live Teams</h1>
</div>
<div id="outerContainer">
  <button mat-button class="teamButton" routerLink="/competition">
    Chemical Car Team
  </button>
  <button mat-button class="teamButton" routerLink="/competition">
    GPE Car Team
  </button>
  <button mat-button class="teamButton" routerLink="/competition">
    REV Car Team
  </button>
  <button mat-button class="teamButton" routerLink="/competition">
    HPV Car Team
  </button>
</div>