#title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#outerContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    justify-content: space-around;
    button {
        width: 80%;
        height: 20vh;
        background-color: #741F1C;
        opacity: 0.85;
        font-size: 22pt;
    }
}
