<h2>Add A New Team</h2>
<hr>
<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <h3>Team Name:</h3>
  <mat-form-field fxFill>
    <input matInput placeholder="What's your new team name?" [(ngModel)]="newTeamName" />
  </mat-form-field>
  <br>
  <button mat-button [disabled]="!newTeamName" (click)='onButtonsClick(flase)'>Submit</button>
  <button mat-button (click)='onButtonsClick(true)'>Cancel</button>
</div>
