#bar {
    background-color: #741F1C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    margin: 0;
    color: white;
    height: 7vh;
    * {
        cursor: pointer;
    }
    #signoutButton {
        background-color: transparent;
        margin-left: 2vw;
        cursor:pointer;
    }
}