<div id="bar">
  <h2 routerLink="/">Real-time Sense</h2>
  <span fxFlex></span>
  <h3 *ngIf="auth.uid">{{auth.uid}}</h3>
  <div id="signoutButton" *ngIf="auth.uid">
    <svg (click)="auth.signOut()" style="width:24px;height:24px;" viewBox="0 0 24 24">
      <path fill="#fff" d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
    </svg>
  </div>
  <h3 *ngIf="!auth.uid" routerLink="/login">Sign In</h3>
</div>
